%tpl_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin wh($width, $height){
    width: $width;
    height: $height;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none;
	user-select: none;
    outline: none;
}

div {
    @extend %tpl_flex;
    @include wh(100%, 100vh);
    span {
        color: gray;
        &:hover {
            color: purple;
        }
    }
}