* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none;
	user-select: none;
    outline: none;
}

%tpl_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

@mixin wh($width, $height){
    width: $width;
    height: $height;
}

.header {
    @extend %tpl_flex;
    @include wh(100%, 100px);

    .inner-header {
        @extend %tpl_flex;
        @include wh(1200px, 100%);

        .logo {
            @extend %tpl_flex;
            @include wh(400px, 100%);
        }

        .link-block {
            @include wh(800px, auto);

            .link-block__link {
                @extend %tpl_flex;
                @include wh(800px, 50px);

                .link__inner {
                    @extend %tpl_flex;
                    @include wh(100%, 50px);
                }
            }
        }
    }
}

.first-block {
    @extend %tpl_flex;
    @include wh(100%, 300px);

    .inner-first {
        @extend %tpl_flex;
        @include wh(1200px, 100%);

        .left-block, .right-block {
            @extend %tpl_flex;
            @include wh(600px, 100%);
            position: relative;
        }
    }
}

.img {
    @include wh(250px, 160px);
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 1200px) {

    %tpl_block {
        display: block;
    }

    .header {
        @extend %tpl_flex;
        @include wh(100%, auto);
    
        .inner-header {
            @include wh(100%, 100%);
            @extend %tpl_block;

            .logo {
                @extend %tpl_flex;
                @include wh(100%, 200px);
            }
    
            .link-block {
                @include wh(100%, auto);
                @extend %tpl_block;

                .link-block__link {
                    @include wh(100%, auto);
                    @extend %tpl_block;

                    .link__inner {
                        @extend %tpl_flex;
                        @include wh(100%, 50px);
                    }
                }
            }
        }
    }

    .first-block {
        @extend %tpl_flex;
        @include wh(100%, auto);
    
        .inner-first {
            @extend %tpl_block;
            @include wh(1200px, 100%);

            .left-block, .right-block {
                @extend %tpl_flex;
                @include wh(100%, 300px);
            }
        }
    }
}