* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none;
	user-select: none;
    outline: none;
}

$bg-color: rgb(254, 254, 255);

.formInner {
    max-width: 1000px;
    width: 100%;
    margin: 40px auto;
}

.main__window {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $bg-color;

    .form__window {
        max-width: 600px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 14px;

        .text {
            width: 100%;
            text-align: center;
            font-size: 32px;
            margin-bottom: 20px;
            color: rgb(63, 96, 154);
        }

        div {
            width: 100%;

            input[type=text] {
                width: 100%;
                font-size: 22px;
                margin: 2px 0;
                padding: 5px 10px;
                border: 1px solid rgb(163, 162, 180);
                border-radius: 5px;
                background-color: $bg-color;
            }

            select[name=city] {
                width: 100%;
                font-size: 22px;
                margin: 2px 0;
                padding: 5px 10px;
                border: 1px solid rgb(163, 162, 180);
                border-radius: 5px;
                background-color: $bg-color;
            }

            textarea {
                width: 100%;
                font-size: 22px;
                margin: 2px 0;
                padding: 5px 10px;
                border: 1px solid rgb(163, 162, 180);
                border-radius: 5px;
                resize: none;
                background-color: $bg-color;
            }

            input[type=button] {
                width: 100%;
                font-size: 22px;
                margin: 2px 0;
                padding: 5px 10px;
                border-radius: 5px;
                border: none;
                background-color: rgb(63, 96, 154);
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: rgb(63, 96, 184);
                }

                &:active {
                    background-color: rgb(63, 96, 154);
                }
            }
        }

        .policy {
            margin-top: 20px;
            
            a {
                color: gray;
                text-decoration: none;
            }
        }
    }
}

.noticeInfo {
    width: 100%;
    height: 100vh;
    position: relative;

    .innerForm {
        width: 100%;
        max-width: 600px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;

        .big-text-thanks {
            width: 100%;
            font-size: 42px;
            margin-bottom: 20px;
            text-align: center;
        }

        .small-text-thanks {
            width: 100%;
            font-size: 22px;
            margin-bottom: 20px;
            text-align: center;
        }

        .but-block {
            width: 100%;
            display: flex;
            justify-content: center;

            .inputBut {
                font-size: 22px;
                padding: 10px 15px;
                border-radius: 5px;
                border: none;
                background-color: rgb(63, 96, 154);
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: rgb(63, 96, 184);
                }

                &:active {
                    background-color: rgb(63, 96, 154);
                }
            }
        }
    }
}